<!DOCTYPE HTML>
<html lang="pt">
  @include('partials/administrator/head')
  <body id="kt_body" class="auth-bg">
    <div class="d-flex flex-column flex-root">
        <div class="d-flex flex-column flex-lg-row-fluid py-10">
          <div class="d-flex flex-center flex-column flex-column-fluid">
            <div class="w-lg-500px p-10 p-lg-15 mx-auto">
              @!section('body')
            </div>
          </div>

          <div class="d-flex flex-center flex-wrap fs-6 p-5 pb-0">
            <div class="d-flex text-light flex-center fw-bold fs-6">
              <span class="logo-black mx-1 px-1">inforMaia</span> &copy; 2021
            </div>
          </div>
        </div>
      </div>
    </div>
    @include('partials/administrator/scripts')
  </body>
</html>
